
body {
                margin: 0 0 0 0;
                padding: 0;
                width: 100%;
                font-family: Cambria,Georgia,serif;
             /*   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/

                text-align: center;
                font-size: 18px;
            }
 .intro{
                color:blue;
            }

            h1 {
                color: #000;
                font-size: 60px;
                font-weight: 300;
                margin-bottom: 0;
                text-align: center;

            }

            th {
              color:#375D81;
              font-weight: 800;
              background-color: #98DB9C;
            }

            td {
              text-align: center;
            }

            label {
    /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
    display: inline-block;
    width: 90px;
    text-align: right;
}

.form_add{

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
